


@media (max-width:480px) {

header#main-content-header {
	background:none
}
#main-content {
	padding-top: 0px;
}

#page-title {
	width:100%;
	font-size:4em;
	text-transform:uppercase;
	color:#363636;
	background-color:#fff;
	display:block;
	margin:0;
	padding:0px;
	text-align:center;
}
/*EVENTS LANDING PAGE */
body.page-node-82 header#main-content-header {
  background:url('images/bg-hdr-insights-landing.png')repeat-x 10px 10px;
  border:0px solid red;
  padding-top:0;
  height:67px;
}
}

body.page-node-82 h1#page-title {
  font-size:2.2em;
display:block;width:180px;text-align:center;margin:0 auto;
}

.image-style-top-level-landing-page{
  position:relative;
  right:0;
  top:0;
  max-width:100%;
} */
}