/*GLOBAL */
#page-title {
	text-transform:uppercase;
	color:#363636;
	background-color:#fff;
	
}

/* END GLOBAL */
nav#block-menu-menu-network ul{
	padding-left: 0;
}


#main-content {
	padding-top: 43px;
}
.content-inner {
	margin-right:5% !important;
}
#main-content-header {
	background:url('images/bg-hdr-network-landing.png')repeat-x 10px 26px;
	border:0px solid red;
	padding-top:0;
	height:67px;
}
#page-title {
	font-size:4em;
	display:inline;
	margin-top:0;
	padding-right:10px;
}
.field-items {
	position:relative;
}

.image-style-top-level-landing-page{
	position:absolute;
	right:0;
	top:0;
}

@media (max-width:320px) { 
#main-content {padding-top:0;}
/* SMALLTOUCH PORTRAIT */
body.page-node-80 #main-content-header {
	background:url('images/bg-hdr-network-landing.png')repeat-x 10px 13px;
	background-size:1px 23px;
	border:0px solid red;
	padding-top:0;
	height:67px;
	text-align:center;
}
body.page-node-80 h1#page-title {
font-size: 2.2em;
display: inline;
margin: 0 auto;
background-color: #fff;
padding: 0 3px;
}
.image-style-top-level-landing-page{
	position:relative;
	left:0;
	top:0;
	width:100%;
}
}


